@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger{
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger_top,
.hamburger_middle,
.hamburger_bottom{
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger_middle{
    transform: translateY(7px);
}

.hamburger_bottom{
    transform: translateY(14px);
}

.open{
    transform: rotate(90def);
    transform: translateY(0px);
}

.open .hamburger_top{
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger_middle {
    display: none;
}

.open .hamburger_bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}